.qrcode {
  border-radius: 20px;
  background: transparent;
 
}
.qrwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease;
}
// media queries
@media (max-width: 768px) {
  .qrwrapper{
    scale: 0.8;
  }
}
